{% extends "search/base.html" %}
    {% block title %}Detail of the Thesis{% endblock %}
    {% block content %}
    <h1 class="title">
        {{ thesis.title }}
    </h1>
    <p class="tags">
        <b>Tags:</b>
        {% for tag in thesis.tags.all %}
            <a href="{% url 'thesis-search:thesis_list' %}?tagged={{tag}}"><i>{{tag}}</i></a>
        {% endfor %}
    </p>
    <h6 class="author">
        Author(s): {{ thesis.authors }}
    </h6>
    <p class="date">
        published {{ thesis.publish }} by {{ thesis.posted_by }}
    </p>
    {% if thesis.adviser %}
    <p class="date">Adviser : {{thesis.adviser.last_name }}, {{ thesis.adviser.first_name }}</p>
    {% else %}
    <p class="date">Adviser : Not Specified</p>
    {% endif %}
    <h3>Abstract</h3>
    <p class="justify">
        {{ thesis.abstract }}
    </p>
    {% with comments.count as total_comments %}
    <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
            Comment by {{ comment.user }}
                {{ comment.created }}
            </p>
                {{ comment.body|linebreaks }}
        </div>
        {% empty %}
            <p>There are no comments yet.</p>
    {% endfor %} 
    <h2>Add a new comment</h2>
    <form action="." method="post">
        <p>User: <small>{{current_user}}</small></p>
        {{ comment_form.body }}
        {% csrf_token %}
        <p><input type="submit" value="Add comment"></p>
    </form>
{% endblock %}