{% extends "search/base.html" %}
{% load humanize %}
    {% block title %}Detail of the Thesis{% endblock %}
    {% block content %}
    <h1 class="title">
        {{ thesis.title }}
    </h1>
    <h6 class="meta">
        <b>Tags:</b>
        {% for tag in thesis.tags.all %}
            <a href="{% url 'thesis-search:post_list_by_tag' tag.slug %}"><i>{{tag}}{% if not forloop.last %}, {% endif %}</i></a>
        {% endfor %}                   
    <br>
    </h6>
    <h6 class="meta">
        <b>Author(s):</b> {{ thesis.authors }}
    </h6>
    <h6 class="meta">
        <b>Published:</b> {{ thesis.publish }} by {{ thesis.posted_by }}
    </h6>
    
    {% if thesis.adviser.lastname or thesis.adviser.first_name %}
        <h6 class="meta"><b>Adviser: </b><a href="#">{{thesis.adviser.last_name }}, {{ thesis.adviser.first_name }}</a></h6>
    {% else %}
        <h6 class="meta"><b>Adviser: </b> <a href="#">{{thesis.adviser}}</a></h6>
    {% endif %}

    <h3>Abstract</h3>
    <p class="justify">
        {{ thesis.abstract }}
    </p>
    <h3>Similar Thesis</h3>
    <div class="similar-thesis">
        {% for thesis in similar_thesis %}
            <p>
                <a href="{{ thesis.get_absolute_url }}">{{ thesis.title }} {% if not forloop.last %}, {% endif %}</a>
            </p>
        {% empty %}
            There are no similar thesis yet.
        {% endfor %}
    </div>
    {% with comments.count as total_comments %}
    <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
            Comment by {{ comment.user }}
                {{ comment.created | naturaltime }}
            </p>
                {{ comment.body|linebreaks }}
        </div>
        {% empty %}
            <p>There are no comments yet.</p>
    {% endfor %} 

    {% ifnotequal current_user None %}
        <h2>Add a new comment</h2>
        <form action="." method="post">
            {% csrf_token %}
            <p>User: <small>{{current_user}}</small></p>
            {{ comment_form.body }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
        </form>
    {% endifnotequal %}
{% endblock %}