{% load thesis_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
    <div id="sidebar">
        <h2><a href="{% url 'thesis-search:thesis_list' %}">Thesis Search</a></h2>
            <p>Computer Studies Thesis </br>Search Engine.</p>

        <h3>Total titles : {% total_posts %}</h3>

       
        <h3>Latest posts</h3> 
        {% show_latest_posts 3 %}
        <h3>Most commented posts</h3>
        {% get_most_commented_posts as most_commented_posts %}
        <ul class="latest-posts">
            {% for thesis in most_commented_posts %}
            <li>
                <a href="{{thesis.get_absolute_url }}">{{ thesis.title }}</a>
            </li>
            {% endfor %}
        </ul>
   
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>